h1{ color: greenyellow ;
    border: 2px solid black;
    text-align: center;
}
 #p01{ color: #02070e;
    border: 1px solid black;
    text-align: justify;
    background-color: green;}

#P02{ color: white;
    border: 01px, solid black;
    text-align: justify;
    background-color: blueviolet;

}
 li{ color: red;}